body {
	background-color: #ffdddd;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-transform: uppercase;
	font-weight: bold;
}
.wrapper {
	height: 500px;
	margin: 8% auto 0;
	width: 350px;
	position: relative;
	perspective: 800px;
}
.wrapper .box {
	position: absolute;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
}
.wrapper .box .front, .wrapper .box .back {
	display: block;
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
}
.wrapper .box .front {
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.653) 10px 50px 50px, rgb(159, 114, 114) 10px 50px 50px;
}
.front h2 {
	font-size: 27px;
	text-align: center;
	margin-top: 10%;
	color: #000000;
	text-transform: uppercase;
}
.front h5 {
	font-size: 15px;
	text-align: center;
	margin: 0 0 30px 0;
	text-transform: uppercase;
	color: #030303;
}
.wrapper .box .back {
	background-color: #000000;
	transform: rotateY(180deg);
}
.wrapper .btn {
	margin-top: 25px;
}
.wrapper .box.animated {
	transform: rotateY(-180deg);
}
.wrapper .close {
	display: block;
	font-size: 40px;
	position: absolute;
	top: 15px;
	right: 3%;
	text-decoration: none;
	color: #000000;
}
.btn {
	color: #000000;
	display: block;
	font-size: 15px;
	margin: 0 auto;
	max-width: 250px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to right, #ffc4e1, #ffc2d8);
	border-radius: 50px;
}
.container {
	background-color: #ffffff;
	padding: 60px;
	height: 380px;
	text-align: center;
	color: #000000
}
.img-area {
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin: 8% auto 0;
	border-radius: 50%;
	border: 10px solid #d7bcbc;
}
.img-area img {
	width: 100%;
}
.socials {
	width: 85%;
	text-align: center;
	margin: auto;
	line-height: 1.5;
	font-size: 20px;
}
.socials span {
	background: #ffffff;
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	line-height: 50px;
}
.text-area h2 {
	margin: 0;
	text-transform: uppercase;
}
.skill-area {
	width: 100%;
}
.skill-area p {
	font-weight: 700;
	text-align: left;
}
.single-skill {
	background: #cca0a08a;
}
.skills {
	text-align: right;
	color: rgb(0, 0, 0);
	background: linear-gradient(to right, #b37a8e, #da8ea6);
	font-weight: 700;
}
.one {
	width: 100%;
}
.two {
	width: 85%;
}
.three {
	width: 75%;
}
.four {
	width: 100%;
}
